{% extends 'jobapp/base.html' %}
{% block content %}
    <div class="page-header">
        <h1><a href="/">Applicant Details</a></h1>
        {% if request.user.is_authenticated and job.owner == request.user %}
           <a href="{% url 'job_edit' pk=job.pk%}">Edit</a>
           <a href="{% url 'job_delete' pk=job.pk%}">Delete</a>
        {% endif %}
    </div>

    {% if job.date_created %}
        <div>
            <p>published: {{ job.date_created }}</p>
        </div>    
    {% endif %}
             <h2>{{ job.title }}</h2>
             <p>{{ job.owner }}</p>
             <p>{{ job.category|linebreaksbr }}</p>      
{% endblock %}