{% extends 'jobapp/base.html' %}
{% block content %}
<div class="page-header">
        <h1><a href="/">Applicants</a></h1>
           <a href="{% url 'job_new' %}">Create job!</a>
   </div>
                {% for job in jobs %}
                    <div>
                        <p>published: {{ job.date_created }}</p>
                        <h2><a href="{% url 'job_detail' pk=job.pk %}">{{ job.title }}</a></h2>
                        <p>{{ job.category|linebreaksbr }}</p>
                    </div>
                {% endfor %}
{% endblock %}